<div data-role="popup" data-dismissible="true" id="popupCash" data-theme="a" class="ui-corner-all">
    <div style="padding:10px 20px;">
        <h3>Cash Withdrawal</h3>
        <% if (cash.hundreds > 0) { %><div><%= cash.hundreds %> x $100 Bills (<%= (cash.hundreds * 100).toCurrency() %>)</div><% } %>
        <% if (cash.fifties > 0) { %><div><%= cash.fifties %> x $50 Bills (<%= (cash.fifties * 50).toCurrency() %>)</div><% } %>
        <% if (cash.twenties > 0) { %><div><%= cash.twenties %> x $20 Bills (<%= (cash.twenties * 20).toCurrency() %>)</div><% } %>
        <% if (cash.tens > 0) { %><div><%= cash.tens %> x $10 Bills (<%= (cash.tens * 10).toCurrency() %>)</div><% } %>
        <% if (cash.fives > 0) { %><div><%= cash.fives %> x $5 Bills (<%= (cash.fives * 5).toCurrency() %>)</div><% } %>
        <% if (cash.ones > 0) { %><div><%= cash.ones %> x $1 Bills (<%= (cash.ones * 1).toCurrency() %>)</div><% } %>
        <% if (cash.cent25 > 0) { %><div><%= cash.cent25 %> x Quarters (<%= (cash.cent25 * 0.25).toCurrency() %>)</div><% } %>
        <% if (cash.cent10 > 0) { %><div><%= cash.cent10 %> x Dimes (<%= (cash.cent10 * 0.1).toCurrency() %>)</div><% } %>
        <% if (cash.cent5 > 0) { %><div><%= cash.cent5 %> x Nickels (<%= (cash.cent5 * 0.05).toCurrency() %>)</div><% } %>
        <% if (cash.cent1 > 0) { %><div><%= cash.cent1 %> x Pennies (<%= (cash.cent1 * 0.01).toCurrency() %>)</div><% } %>
        <div>Total: <%= total.toCurrency() %></div>
    </div>
</div>