<div data-role="popup" id="recurringEditor" data-theme="a" class="ui-corner-all">
    <div style="padding:10px 20px">
        <h3>Edit Recurring Transaction</h3>
        <div class="ui-field-contain">
            <label for="period">Every</label>
            <input type="text" id="period" value="<%= period %>">
            <label for="start">From</label>
            <input type="date" id="start" value="<%= start %>">
            <label for="end">Until</label>
            <input type="date" id="end" value="<%= end %>">
            <label for="category">Category</label>
            <select id="category">
                <%
                for (var n = 0; n < app.Categories.length; n++) { 
                    if (app.Categories[n] == category) {
                %>
                    <option selected><%= app.Categories[n] %></option>
                <%
                    } else { 
                %>
                    <option><%= app.Categories[n] %></option>
                <%
                    }
                } 
                %>
            </select>
            <label for="name">Name</label>
            <input type="text" id="name" value="<%= name %>">
            <label for="type">
                <input type="checkbox" id="type" <% if (Math.sign(amount) > 0) { %>checked<% } %>>
                Deposit
            </label>
            <label for="cash">
                <input type="checkbox" id="cash" <% if (cash == true) { %>checked<% } %>>
                Cash
            </label>
            <label for="transfer">
                <input type="checkbox" id="transfer" <% if (typeof transfer !== "undefined" && transfer === true) { %>checked<% } %>>
                Transfer to Savings
            </label>
            <label for="amount">Amount</label>
            <input type="number" id="amount" value="<%= Math.abs(amount) %>">
            <label for="note">Notes</label>
            <textarea id="note"><%= typeof note === "undefined" ? "" : note %></textarea>
            <button type="button" id="btnSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Save Changes</button>
            <% if (typeof id !== "undefined") { %><button type="button" id="btnDelete" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-delete">Delete Recurring</button><% } %>
        </div>
    </div>
</div>
