<%
    if (("paid" in transaction) == false) {
        transaction.paid = false;
    }
    if (("check" in transaction) == false) {
        transaction.check = "";
    }
    if (("checkLink" in transaction) == false) {
        transaction.checkLink = "";
    }
    if (("note" in transaction) == false) {
        transaction.note = "";
    }
%>
<div data-role="popup" id="transactionEditor" data-theme="a" class="ui-corner-all">
    <div style="padding:10px 20px">
        <h3>Edit Transaction</h3>
        <div class="ui-field-contain">
            <label for="date">Date</label>
            <input type="date" id="date" value="<%= transaction.date %>">
            <label for="category">Category</label>
            <select id="category">
                <%
                for (var n = 0; n < categories.length; n++) { 
                    if (categories[n] == transaction.category) {
                %>
                    <option selected><%= categories[n] %></option>
                <%
                    } else { 
                %>
                    <option><%= categories[n] %></option>
                <%
                    }
                } 
                %>
            </select>
            <label for="name">Name</label>
            <input type="text" id="name" value="<%= transaction.name %>">
            <label for="type">
                <input type="checkbox" id="type" <% if (Math.sign(transaction.amount) > 0) { %>checked<% } %>>
                Deposit
            </label>
            <label for="cash">
                <input type="checkbox" id="cash" <% if (transaction.cash == true) { %>checked<% } %>>
                Cash
            </label>
            <label for="transfer">
                <input type="checkbox" id="transfer" <% if (typeof transaction.transfer !== "undefined" && transaction.transfer === true) { %>checked<% } %>>
                Transfer to Savings
            </label>
            <label for="check">Check#</label>
            <input type="text" id="checkNumber" value="<%= transaction.check ? transaction.check : "" %>">
            <label for="amount">Amount</label>
            <input type="number" id="amount" value="<%= Math.abs(transaction.amount) %>">
            <label for="paid">
                <input type="checkbox" id="paid" <% if (transaction.paid == true) { %>checked<% } %>>
                Paid
            </label>
            <label for="note">Notes</label>
            <textarea id="note"><%= transaction.note %></textarea>
            <button type="button" id="btnSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Save Changes</button>
            <% if (typeof transaction.id !== "undefined") { %><button type="button" id="btnDelete" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-delete">Delete</button><% } %>
        </div>
    </div>
</div>