<div data-dismissible="true" data-theme="b" class="ui-corner-all" style="min-width: 300px;">
    <div data-role="header" role="banner" data-theme="a" class="ui-header ui-bar-a">
        <h3>Edit Recurring</h3>
    </div>
    <div role="main" class="ui-content">
        <div class="ui-field-contain">
            <label for="period">Every</label>
            <input type="text" id="period" value="<%= transaction.period %>" data-theme="a">
            <label for="start">From</label>
            <input type="date" id="start" value="<%= transaction.start %>" data-theme="a">
            <label for="end">Until</label>
            <input type="date" id="end" value="<%= transaction.end %>" data-theme="a">
            <label for="category">Category</label>
            <select id="category" data-theme="a">
                <%
                for (var n = 0; n < categories.length; n++) { 
                    if (categories[n] == transaction.category) {
                %>
                    <option selected><%= categories[n] %></option>
                <%
                    } else { 
                %>
                    <option><%= categories[n] %></option>
                <%
                    }
                } 
                %>
            </select>
            <label for="name">Name</label>
            <input type="text" id="name" value="<%= transaction.name %>" data-theme="a">
            <label for="type">
                <input type="checkbox" id="type" <% if (Math.sign(transaction.amount) > 0) { %>checked<% } %>>
                Deposit
            </label>
            <label for="cash">
                <input type="checkbox" id="cash" <% if (transaction.cash == true) { %>checked<% } %>>
                Cash
            </label>
            <label for="transfer">
                <input type="checkbox" id="transfer" <% if (typeof transaction.transfer !== "undefined" && transaction.transfer === true) { %>checked<% } %>>
                Transfer to Savings
            </label>
            <label for="amount">Amount</label>
            <input type="number" id="amount" value="<%= Math.abs(transaction.amount) %>" data-theme="a">
            <label for="note">Notes</label>
            <textarea id="note" data-theme="a"><%= typeof transaction.note === "undefined" ? "" : transaction.note %></textarea>
            <button type="button" id="btnSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Save Changes</button>
            <% if (typeof transaction.id !== "undefined") { %><button type="button" id="btnDelete" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-delete">Delete Recurring</button><% } %>
        </div>
    </div>
</div>
