<div data-dismissible="true" data-theme="a" class="ui-corner-all" style="min-width: 300px;">
    <div data-role="header" role="banner" data-theme="a" class="ui-header ui-bar-a">
        <h3>Edit Recurring</h3>
    </div>
    <div role="main" class="ui-content">
        <div class="ui-field-contain" data-mini="true" style="overflow-y: auto; overflow-x: hidden;">
            <datalist id="nameList">
                <% for (let name of names) {
                    %><option value="<%= name %>"></option><%
                } %>
            </datalist>
            <label for="period">Every</label>
            <input type="text" data-role="timespan" data-mini="true" id="period" value="<%= transaction.period %>" data-theme="a">
            <label for="start">From</label>
            <input type="date" id="start" data-mini="true" value="<%= transaction.start %>" data-theme="a">
            <label for="end">Until</label>
            <input type="date" id="end" data-mini="true" value="<%= transaction.end %>" data-theme="a">
            <label for="category">Category</label>
            <select id="category" data-mini="true" data-theme="a">
                <%
                for (var n = 0; n < categories.length; n++) { 
                    if (categories[n] == transaction.category) {
                %>
                    <option selected><%= categories[n] %></option>
                <%
                    } else { 
                %>
                    <option><%= categories[n] %></option>
                <%
                    }
                } 
                %>
            </select>
            <label for="name">Name</label>
            <input type="text" id="name" list="nameList" data-mini="true" value="<%= transaction.name %>" data-theme="a">
            <label for="type">
                <input type="checkbox" data-mini="true" id="type" <% if (Math.sign(transaction.amount) > 0) { %>checked<% } %>>
                Deposit
            </label>
            <label for="cash">
                <input type="checkbox" data-mini="true" id="cash" <% if (transaction.cash == true) { %>checked<% } %>>
                Cash
            </label>
            <label for="transfer">
                <input type="checkbox" data-mini="true" id="transfer" <% if (typeof transaction.transfer !== "undefined" && transaction.transfer === true) { %>checked<% } %>>
                Transfer to Savings
            </label>
            <label for="scheduled">
                <input type="checkbox" data-mini="true" id="scheduled" <% if (typeof transaction.scheduled !== "undefined" && transaction.scheduled === true) { %>checked<% } %>>
                Scheduled
            </label>
            <label for="amount">Amount</label>
            <input type="number" inputmode="decimal" id="amount" data-mini="true" value="<%= Math.abs(transaction.amount) %>" data-theme="a">
            <label for="note">Notes</label>
            <textarea id="note" data-theme="a"><%= typeof transaction.note === "undefined" ? "" : transaction.note %></textarea>
        </div>
        <div data-role="footer">
            <button type="button" id="btnSave" data-mini="true" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Save</button>
            <button type="button" id="btnCancel" data-mini="true" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left">Cancel</button>
            <% if (typeof transaction.id !== "undefined") { %><button type="button" id="btnDelete" data-mini="true" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-delete">Delete</button><% } %>
        </div>
    </div>
</div>
