<div data-role="popup" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="min-width: 300px" class="ui-popup ui-body-b ui-overlay-shadow ui-corner-all">
    <div data-role="header" role="banner" data-theme="a" class="ui-header ui-bar-a">
        <% if (icon) { %>
        <i class="ui-btn-left fas fa-<%= icon %>" style="font-size: 1.5em; top: 0.4em;"></i>
        <% } %>
        <h3><%= caption %></h3>
    </div>
    <div role="main" class="ui-content">
        <p><%- text %></p>
    </div>
    <div data-role="footer" class="button-holder">
        <% for (let button of buttons) { %>
        <button type="button" data-inline="true" result="<%= button.result %>" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b"><%= button.text %></button>
        <% } %>
    </div>
</div>