<% 
if (items.length > 0) {
    var cat = items[0].category;
    var style = 0;
    for (var n = 0; n < items.length; n++ ) { 
        if (cat != items[n].category) {
            style = (style + 1) % 2;
            cat = items[n].category;
        }
%>
<tr class="row_<%= style %>" id="<%= items[n].__key__ %>">
    <td class="trDate"><%= new Date(items[n].date).format('MMM d, yyyy') %></td>
    <td class="trCategory"><%= items[n].category %></td>
    <td class="trName">
        <%= items[n].name %>
        <% if (items[n].cash == true) { %><span title="Cash">$</span><%}%>
        <% if (items[n].checkLink) { %><span title="Check">&#x2328;</span><%}%>
        <% if (items[n].recurring) { %><span id="<%= items[n].__key__ %>_recurring" recurring="<%= items[n].recurring %>" title="Recurring">&#x21bb;</span><%}%>
        <% if (items[n].paid) { %><span title="Paid">&#x2713;</span><%}%>
    </td>
    <td class="trAmount" style="text-align: right"><%= items[n].amount.toCurrency() %></td>
</tr>
<% 
    }

}
%>

<script>
    var nameHoverTimeout, namePopup;
    
        function handleUpdate(snapshot, action) {
        var id = snapshot.key;
        var val = snapshot.val();
        var perStart = Date.parseFb(m_periodStart);
        var perEnd = Date.parseFb(m_periodEnd);
        var trDate = Date.parseFb(val.date);

        if ($('#' + id).length > 0) {
            if (action == 'remove') {
                $('#' + id).remove();
            } else if (action == 'change') {
                if (trDate.lt(perStart) || trDate.gt(perEnd)) {
                    $('#' + id).remove();
                } else {
                    $('#' + id + ' td.trDate').text(new Date(val.date).format('MMM d, yyyy'));
                    $('#' + id + ' td.trCategory').text(val.category);
                    $('#' + id + ' td.trName').empty().append(
                        val.name + " " + 
                        (val.cash ? "<span title='Cash'>$</span>" : "") + 
                        (val.checkLink ? "<span title='Check'>\u2328</span>": "") +
                        (val.recurring ? "<span title='Recurring' recurring='" + val.recurring + "'>\u21bb</span>" : "") +
                        (val.paid ? "<span title='Paid'>\u2713</span>" : "")
                    );
                    $('#' + id + ' td.trAmount').text(val.amount.toCurrency());
                    $('[recurring]').on('click', function(e) {
                        editRecurring(e.target.getAttribute('recurring'));
                    });
                }
            } 
        } else if (action == 'add') {
            if (trDate.ge(perStart) && trDate.le(perEnd)) {
                // search for the last category match
                var prev = $('.trCategory:contains("' + val.category + '")').last().parent();
                
                if (prev.length <= 0) {
                    prev = $('.trCategory').last().parent();
                }
                
                if (prev.length > 0) {
                    var row = prev.clone();
                    row.attr('id', snapshot.key);
                    
                    // change the background if this is a new category
                    if (row.children('.trCategory').text() != val.category) {
                        if (row.hasClass('row_0') == true) {
                            row.removeClass('row_0').addClass('row_1');
                        } else {
                            row.removeClass('row_1').addClass('row_0');
                        }
                    }
                    
                    // insert the new row, and call myself recursively
                    // with the "change" action
                    row.insertAfter(prev);
                    row.children('td').on('mouseout', row_MouseOut);
                    row.on('mouseover', row_MouseOver);
                    row.on('dblclick', row_DoubleClick);
                    row.on('taphold', row_TapHold);
                    row.on('click', row_Click);
                    row.disableSelection();
                    
                    
                    handleUpdate(snapshot, "change");
                } else {
                    selectPeriod();
                }
            }
        }
        
        if ($('#info_' + id).is('tr')) {
            previewTransaction(id);
        }
    }
    
    function row_MouseOut() {
        $('tr').css('background-color', ''); 
    }
    
    function row_MouseOver(e) {
        e.target = $(e.target);
        
        $('tr').css('background-color', '');
        
        while (e.target.parent() && (e.target.is('tr') == false)) {
            e.target = e.target.parent();
        }
        
        if (e.target.is('tr')) {
            e.target.css('background-color', '#eef');
        }
    }
    
    function row_DoubleClick(e) {
        e.preventDefault();
        
        editTransaction(e.currentTarget.id);
    }
    
    function row_TapHold(e) {
        e.preventDefault();
        editTransaction(e.currentTarget.id);
    }
    
    function row_Click(e) {
        e.preventDefault();
        e.target = $(e.target);
        
        if (e.target.is('tr')) {
            e.target.css('background-color', '#eef');
        }
        
        previewTransaction(e.currentTarget.id);
    }
    
    
    $('#main tr').on('mouseout', row_MouseOut);
    $('#main td').on('mouseover', row_MouseOver);
    $('#main tr').on('dblclick', row_DoubleClick);
    $('#main tr').on('taphold', row_TapHold);
    $('#main tr').on('click', row_Click);
    $('#main tr').disableSelection();
    
    $('[recurring]').on('click', function(e) {
        var id = e.target.getAttribute('recurring');
        editRecurring(id);
    });
</script>