<div data-dismissible="<%= dismissible %>" data-theme="b" class="ui-corner-all">
    <div data-role="header" role="banner" data-theme="a" class="ui-header ui-bar-a">
        <h3 class="wizardTitle"><%= title %></h3>
    </div>
    <div role="main" class="ui-content" style="position: relative">
        <div class="wizardScroll wizardScrollUp" style="text-align: center; position: absolute;"><i class="fas fa-angle-double-up"></i></div>
        <div class="wizardScroll wizardScrollDown" style="text-align: center; position: absolute;"><i class="fas fa-angle-double-down"></i></div>
        <div class="wizardContent" style="overflow-y: auto; overflow-x: hidden;">
        <% for (let content of contents) { %>
            <div>
                <% if (content.type === 'image') { %>
                    <img src="<%= content.data %>" style="max-width: 100%;">
                <% } else { %>
                    <p><%- content.data %></p>
                <% } %>
            </div>
        <% } %>
        </div>

    </div>
    <div data-role="footer">
        <button <%= backDisabled ? 'style="display:none"' : '' %> type="button" class="wizardBackButton ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-arrow-l ui-btn-inline ui-mini"><%= backText %></button>
        <button <%= nextDisabled ? 'style="display:none"' : '' %> type="button" class="wizardNextButton ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-right ui-icon-arrow-r ui-btn-inline ui-mini"><%= nextText %></button>
    </div>
</div>